<!DOCTYPE html>

<html>
    <head>

        <title>Smart Speakers - End User Performance Evaluator</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" 
            type="text/css"
            href="./css/style.css"
        />

        <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"
              rel="stylesheet" 
              type="text/css"
        >

        <link 
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
            rel="stylesheet" 
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
            crossorigin="anonymous"
        >

        <link 
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous"
        >

        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>

        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous">
        </script>

        <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

    </head>

    <body>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Home</a>
            <a href="#">Test Scheduler</a>
            <a href="#">Test Runs</a>
            <a href="#">About</a>
        </div>

        <div>

            <button class="openbtn" onclick="openNav()">&#9776; MENU</button>

        </div>

        <div id="scheduler" class="container p-5 border border-primary">

            <h4>Smart Speakers - End User Performance Evaluator</h4>

            <div class="row justify-content-around p-2 border border-secondary bg-gradient-primary">

                <div class="col-lg-4">
                    <label >
                        <span class="strong">Mic Status: </span>
                        <span id="micstatus" class="strong"></span>
                        <div>
                        <input class="mt-2 p-2 btn btn-md btn-primary" id="resume" value="Check"/>
                        </div>
                    </label>
                </div>

                <div id="meters" class="mt-4 col-lg-8">

                    <div id="instant">
                        <div class="label">Instant:</div>
                        <meter high="0.25" max="1" value="0"></meter>
                        <div class="value"></div>
                    </div>

                </div>
                
            </div>                    

            <div class="row justify-content-around mt-2 mb-2 p-2 border border-secondary bg-gradient-primary">
                <input class="btn btn-lg" type="file" id="fileUpload" />
            </div>
            
            <div class="row justify-content-around mt-2 mb-2 p-2 border border-secondary bg-gradient-primary">

                <div class="col-lg-4">
                    <label>
                        <span id="intents" class="strong">Intents Detected: </span>
                    </label>
                </div>

                <div class="col-lg-4">
                    <label>
                        <span class="strong">Wake Word</span>
                        <div>
                            <input id="wakeword" value="Alexaa">
                        </div>
                    </label>
                </div>

                <div class="col-lg-4">
                    <label>
                        <span class="strong">Iteration</span>
                        <div>
                            <input type="number" step="1" id="iteration" value="1">
                        </div>
                    </label>
                </div>

            </div>

            <div class="row justify-content-around mt-2 mb-2 p-2 border border-secondary bg-gradient-primary">

                <div class="col-lg-3">
                    <label>
                        <span class="strong">Voice</span>
                        <div>
                            <select id="voiceOptions"></select>
                        </div>
                    </label>
                </div>

                <div class="col-lg-3">
                    <label>
                            <span>Volume  </span>
                            <div>
                            <input type="range" id="volumeSlider" min="0" max="1" step="0.1" value="1">
                            </div>
                    </label>
                </div>

                <div class="col-lg-3">       
                    <label>
                            <span>Rate    </span>
                            <div>
                            <input type="range" id="rateSlider" min="0" max="1" step="0.1" value="0.9">
                            </div>
                    </label>
                </div>

                <div class="col-lg-3">
                    <label>
                            <span>Pitch   </span>
                            <div>
                            <input type="range" id="pitchSlider" min="0" max="2" step="0.1" value="1">
                            </div>
                    </label>
                </div>


            </div>                           
            
            <div>
                <input class="mt-4 btn btn-lg btn-primary" id="testBtn" value="Test"/>
            </div>

        </div>

        <div class="m-4 border border-primary p-5 bg-gradient-primary">

            <div class="wrap">

                <table id="results_table_head" class="head">

                    <colgroup>
                        <col style="width:16%">
                        <col style="width:20%">
                        <col style="width:8%">
                        <col style="width:8%">
                        <col style="width:8%">                    
                        <col style="width:8%">
                        <col style="width:8%">
                        <col style="width:8%">
                        <col style="width:8%">
                        <col style="width:8%">
                    </colgroup>

                    <tr>
                    <th id="uid">Intent Name</th>
                    <th>Utterance</th>
                    <th>Min</th>
                    <th>Avg</th>
                    <th>Max</th>
                    <th>Last</th>
                    <th>Pass</th>
                    <th>Fail</th>
                    <th>SLA</th>
                    <th>SLA Compliance</th>
                    </tr>

                </table>
                <div class="inner_table">
                    <table id="results_table">

                        <colgroup>
                            <col style="width:16%">
                            <col style="width:20%">
                            <col style="width:8%">
                            <col style="width:8%">
                            <col style="width:8%">                    
                            <col style="width:8%">
                            <col style="width:8%">
                            <col style="width:8%">
                            <col style="width:8%">
                            <col style="width:8%">
                        </colgroup>

                    </table>

                </div>

            </div>
        
        </div>

        <script type="text/javascript" src="./js/webspeech.js"></script>
        <script type="text/javascript" src="./js/adapter-latest.js"></script>
        <script type="text/javascript" src="./js/soundmeter.js"></script>
        <script type="text/javascript" src="./js/main.js" async></script>
        <script type="text/javascript" src="./js/ga.js"></script>

    </body>
</html>